*{
    box-sizing: border-box;
    margin:0;
}
html,body {
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 80px;
    margin-top: 100px;
}
.form-wrapper {
    width: 480px;
    background-color: #ffffff;
    padding-top:20px;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
input{
    width:100%;
    height: 40px;
    border: 1px solid blue;
}
.pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button[type=submit] {
    position: relative;
    background-color: #D885A3;
    margin: 0 auto;
    width: auto;
    border-radius: 10px;
    padding: 10px 30px;
}
button[type=submit]::after {
    content: "";
    top: 0px;
    right: 0px;
    background-color: beige;
}
img {
    width: 24px;
    height: 24px;
}
.sc {
    padding: 10px 40px;
    border-radius: 35px;
    border: none;
    margin-right: 15px;
}
.sc:nth-last-child(1) {
    margin-right: 0px;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.center-texts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.center-texts a {
    color: red;
}
a{
    text-decoration: none;
    color: #000000;
}
button {
    cursor: pointer;
}
.image-wrapper{
    width: 60%;
    background-image: url("img/working.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.element{
    width: 100%;
}
.social-media {
    display: flex;
    justify-content: center;
}